
body, html {
  margin: 0;
  padding: 0;
}

body {
  background: #414554;
  color: #C5C5C5;
  font-family: 'Open sans';
}

a {
  text-decoration: none;
  color: #E0C086;
  &:hover {
    color: #EFE2CA;
  }
}

a.muted {
  color: #9E947E;
  &:hover {
    color: #BDB4A1;
  }
}

input[type="submit"], button, .button {
  border: 1px solid #8E8E8E;
  border-radius: 30px;
  background: transparent;
  padding-left: 10px;
  padding-right: 10px;
  color: #E2E2E2;
  margin: 10px;
  font-weight: 300;
}
input[type="submit"]:hover, button:hover, .button:hover {
  background: transparent;
  border-color: #fff;
  color: #fff;
}

input {
  margin: 0px;
}

input[type="text"] {
}

.logo {
  color: #FFFFFF;
  font-family: 'Quicksand', serif;
  font-weight: 900;
  font-size: 27px;
  .logo-stack {
    color: #DFB15F;
  }
  &.muted {
    color: #A6A6A6;
    .logo-stack {
      color: #808080;
    }
  }
}
